<a href="https://colab.research.google.com/github/luizaclara/KNNtitanic/blob/main/Trabalho_02ICD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/c/titanic/data

https://github.com/datasciencedojo/datasets/blob/master/titanic.csv

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [96]:
import sklearn
import pandas as pd
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [97]:
class KNN ():
  def __init__(self,k=3):
    self.k = k

  def fit(self,X,Y):
    self.X = X
    self.Y = Y

  def predict_one(self,x):
    distances = sorted(self.distance(x),lambda d:d [0])[:self.k]

    tags_count = {} # {tag : (contagem , soma das distancias)}
    
    for dist, tag in distances:
      if tag not in tags_count:
        count[tag] = (0, 0)
      count[tag] = (count[tag][0] + 1, count[tag][1] + dist )

    # ordena em ordem decrescente a contagem e em ordem crescente a distância
    sorted_count = sorted(tags_count.items(), reverse = True, key= lambda x: (x[1][0], -x[1][1]))
    
    return sorted_count[0][0] # nome da categoria com mais contagem e menos distância

  def distance(self, point):
    return list(zip(euclidean_distances(self.X, [point]), self.Y))

In [120]:
dataframe = pd.read_csv("titanic.csv")

In [121]:
# Normalizar
for column in ['Age', 'Fare']:
    dataframe[column] = dataframe[column]  / dataframe[column].abs().max()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,0.2750,1,0,A/5 21171,0.014151,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,0.4750,1,0,PC 17599,0.139136,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,0.3250,0,0,STON/O2. 3101282,0.015469,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,0.4375,1,0,113803,0.103644,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,0.4375,0,0,373450,0.015713,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,0.3375,0,0,211536,0.025374,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,0.2375,0,0,112053,0.058556,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,0.045771,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,0.3250,0,0,111369,0.058556,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,0.4000,0,0,370376,0.015127,NaN,Q

In [99]:
# Transformar a coluna 'Sex' e 'Embarked' em duas colunas
encoder = OneHotEncoder(sparse_output=False)
encoded_data = encoder.fit_transform(dataframe[['Sex', 'Embarked']])
encoded_dataframe = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Sex', 'Embarked']))

In [100]:
# juntar os dataframes
dataframe = pd.concat([dataframe, encoded_dataframe])

In [88]:
# substituir valores nulos

# preenche a idade com a média das idades
dataframe['Age'] = dataframe['Age'].fillna(dataframe['Age'].mean()) 

#preenche o sexo com o que aparece mais vezes
# dataframe['Sex'] = dataframe['Sex'].fillna(dataframe['Sex'].mode())

# drop no 'Embarked' porque tem poucos valores NaN
dataframe.dropna(subset='Embarked', inplace=True)

In [53]:
columns = ['Pclass', 'Age', 'SibSp', 'Parch', 'Fare'] + list(encoded_dataframe.columns)
y = ['Survived']

In [108]:
X_train, X_test, y_train, y_test = train_test_split(dataframe[[col for col in columns]], dataframe[y], test_size=0.25, random_state=42)

In [109]:
knn = KNN()
knn.fit(X_train, y_train)

In [117]:
knn.predict_one(X_test.iloc[2]) == y_test.iloc[2]

ValueError: Input contains NaN.