<a href="https://colab.research.google.com/github/luizaclara/KNNtitanic/blob/main/Trabalho_02ICD.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://www.kaggle.com/c/titanic/data

https://github.com/datasciencedojo/datasets/blob/master/titanic.csv

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [ ]:
import sklearn
import pandas as pd
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [ ]:
class KNN ():
  def __init__(self,k=3):
    self.k = k

  def fit(self,X,Y):
    self.X = X
    self.Y = Y

  def predict_one(self,x):
    dist = sorted(self.distance(x),lambda d:d [0])[:self.k]

    count = {}
    for d, tag in dist:
      if tag not in count:
        count[tag] = 0
      count[tag] += 1

    max_count = max(list(count.items()), key= lambda x: x[1]) # se der empate, ver qual a classe mais frequente (luiza nao sabe se é regra)
    return max_count[0]

  def distance(self, point):
    return list(zip(euclidean_distances(self.X, [point]), self.Y))
  #calcular distância euclidiana (norma 2)

In [ ]:
dataframe = pd.read_csv("titanic.csv")

In [ ]:
dataframe['SexID'] = pd.Categorical(dataframe['Sex']).codes
dataframe['EmbarkedID'] = pd.Categorical(dataframe['Embarked']).codes

In [ ]:
encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(dataframe[['Sex']])

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:975: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [ ]:
encoded_dataframe = pd.DataFrame(encoded_data, columns=encoder.get_feature_names_out(['Sex']))

In [ ]:
dataframe = pd.concat([dataframe, encoded_dataframe])

In [ ]:
dataframe

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male
0,1.0,0.0,3.0,"Braund, Mr. Owen Harris",male,22.0,1.0,0.0,A/5 21171,7.2500,NaN,S,NaN,NaN
1,2.0,1.0,1.0,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1.0,0.0,PC 17599,71.2833,C85,C,NaN,NaN
2,3.0,1.0,3.0,"Heikkinen, Miss. Laina",female,26.0,0.0,0.0,STON/O2. 3101282,7.9250,NaN,S,NaN,NaN
3,4.0,1.0,1.0,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1.0,0.0,113803,53.1000,C123,S,NaN,NaN
4,5.0,0.0,3.0,"Allen, Mr. William Henry",male,35.0,0.0,0.0,373450,8.0500,NaN,S,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0
887,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
888,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,0.0
889,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0
890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0

In [ ]:
dataframe['Age'] = dataframe['Age'].fillna(dataframe['Age'].mean())

In [ ]:
columns = ['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']
y = ['Survived']

In [ ]:
X_train, y_train, X_test, y_test = train_test_split( dataframe[[col for col in columns]], dataframe[y], test_size=0.25, random_state=42)

In [ ]:
X_train

     Pclass  SexID    Age  SibSp  Parch      Fare  EmbarkedID  CabinID
298       1      1  -1.00      0      0   30.5000           2       51
884       3      1  25.00      0      0    7.0500           2       -1
247       2      0  24.00      0      2   14.5000           2       -1
478       3      1  22.00      0      0    7.5208           2       -1
305       1      1   0.92      1      2  151.5500           2       62
..      ...    ...    ...    ...    ...       ...         ...      ...
106       3      0  21.00      0      0    7.6500           2       -1
270       1      1  -1.00      0      0   31.0000           2       -1
860       3      1  41.00      2      0   14.1083           2       -1
435       1      0  14.00      1      2  120.0000           2       47
102       1      1  21.00      0      1   77.2875           2       98

[668 rows x 8 columns]